<div class="inner">
    <article class="feature left">
        <span class="image"><img src="images/water.jpg" alt="" /></span>
        <div class="content">
            <h2>Water Resistant</h2>
            <p>You can’t live without water or your smartphone, which is why the Galaxy S7 has a certified water-resistant rating. It repels spills, splashes and even dunks1 without a bulky protective case.</p>
            <ul class="actions">
                <li>
                    <a ui-sref="waterResistant" class="button alt">More</a>
                </li>
            </ul>
        </div>
    </article>
    <article class="feature right">
        <span class="image"><img src="images/tablet.jpg" alt="" /></span>
        <div class="content">
            <h2>Expandable memory</h2>
            <p>Running out of memory shouldn’t be a thing. So if 32GB2 isn’t already enough, you can add an additional 200GB with a microSD card.3 No clouds, no hard drives.</p>
            <ul class="actions">
                <li>
                    <a ui-sref="expandableMemory" class="button alt">More</a>
                </li>
            </ul>
        </div>
    </article>
</div>
